.banner {
  background: linear-gradient(45deg,#766952,#aa9776);
  color: #fff2dc;
  text-shadow: 0.5px 0 0 currentColor;
  padding: 0 var(--space-3);
  font-size: 16px;
  margin: 24px 0 0 24px;
  border-radius: 12px;
  width: 100%;
  border: 4px solid #ecd2a3;
}

.banner a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--header-height);
}

.content {
  max-width: 960px;
  padding: 24px;
  text-align: center;
  font-weight: bold;
}

.close {
  position: absolute;
  right: 0px;
  padding: 0px;
  z-index: 2;
}

@media (max-width: 900px) {
  .close {
    position: relative;
    right: unset;
    top: unset;
  }
}
