.banner {
  background: linear-gradient(45deg, #923f43, #7A7DE9);
  color: #ffffff;
  padding: 0 var(--space-3);
  font-size: 16px;
  margin: 24px 0 0 24px;
  border-radius: 18px;
  width: 100%;
}

.banner a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--header-height);
}

.content {
  max-width: 960px;
  text-align: center;
}

.close {
  position: absolute;
  right: 10px;
  top: 6px;
  z-index: 2;
}

@media (max-width: 900px) {
  .close {
    position: relative;
    right: unset;
    top: unset;
  }
}

@media (max-width: 600px) {
  .banner {
    padding: var(--space-1) var(--space-3);
  }
}
